
---
import RedditFeed from '../components/RedditFeed.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Saved Reddit Feed</title>
	</head>
	<body>
		<h1>Saved Reddit Feed</h1>
		<RedditFeed client:only="react" />
	</body>
</html>
